.all-spots-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 40px;
}

.spot-container {
  border-bottom: rgb(235,235,235) 2px solid;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 10px;
  max-height: 500px;
  padding-bottom: 25px;
  display: flex;
}

.spots-image {
  height: 400px;
  max-width: min(80%, 500px);
  min-width: min(30vw, 500px);
  border-radius: 15px;
  box-shadow: 10px 10px 15px 5px lightgray;
}

.spot-info-container {
  min-width: min(50%, 700px);
  max-width: 670px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

.spot-title {
  overflow-x: hidden;
  overflow-wrap: break-word;
  border-bottom: rgb(235,235,235) 2px solid;
}

.spot-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 400px;
  color: rgb(153, 153, 153);
}

.spot-price {
  margin-top: auto;
}

.spot-location {
  color: rgb(153, 153, 153);
}
.spot-night {
  font-weight: 400;
}
