* {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
}

.main_container {
  flex-direction: column;
  display: flex;
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: white;
}

.first_photo_container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#luxury-rental {
  border-radius: 25px;
  width: 100%;
  height: 100%;
}

.find-spot-container {
  position: absolute;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.find-spot {
  background-color: rgb(255, 255, 255);
  padding: 15px 30px;
  border-color: white;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 800;
  color: rgb(206, 95, 95);
}

.find-spot:hover,
r {
  cursor: pointer;
  background-color: #f7f7f7;
}
