.spot-page-container {
  margin-top: 50px;
  width: 70%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
}

.spot-page-title {
  max-width: 100%;
  overflow-wrap: break-word;
}

.spot-page-subheader {
  display: flex;
  width: 100%;
  padding-bottom: 5px;
  align-content: center;

}

.spot-page-image {
  height: 100%;
  width: 100%;
}
.spot-page-review-count {
    margin-left: 5px;
}

.star-rating {
    font-size: 20px;
    color: red;
    margin-right: 1px;
    /* margin-bottom: 5px; */
}

.spot-page-rating {
    margin-right: 5px;
}

.spot-page-address-info {
    display: flex;
    margin-left: 20px;
    justify-content: space-between;
}

.spot-page-house-info {
  display: flex;
  justify-content: space-between;
}
