.spot-page-container {
  margin-top: 50px;
  width: 70%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
}

.spot-page-title {
  max-width: 100%;
  overflow-wrap: break-word;
}

.spot-page-subheader {
  display: flex;
  width: 100%;
  padding-bottom: 5px;
  align-content: center;

}

.spot-page-image {
  height: 100%;
  width: 100%;
}
.spot-page-review-count {
    margin-left: 5px;
}

.star-rating {
    font-size: 16px;
    color: red;
    margin-right: 4px;
    /* margin-bottom: 5px; */
}

.spot-page-rating {
    margin-right: 5px;
}

.spot-page-address-info {
    display: flex;
    margin-left: 20px;
    justify-content: space-between;
}

.spot-page-house-info {
  display: flex;
  justify-content: space-between;
}

.spot-page-reviews-container {
  padding-top: 10px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding-bottom: 40px;
}

.user-review-create-review {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.create-review-modal-button {
  margin-top: 8px;
  display: flex;
  align-content: flex-end;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  font-weight: 550;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  color: rgb(1, 1, 1);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
}

.filled-heart {
  color: red;
}

.heart-container {
  font-size: 28px;
}
