.edit-review-modal-button {
  background-color: white;
  border: white;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 24px;
}

.edit-review-container {
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-review-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-review-form {
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  justify-content: center;
}

.edit-review-errors {
  font-size: 13px;
  display: flex;
  margin-right: 50px;
  color: #eb1b0c;
  margin-bottom: 10px;
}

.review-form-rating-container {
margin-left: 15px;
}

.edit-review-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-label-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.edit-review-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  padding-bottom: 20px;
  font-size: 16px;
}

.edit-review-text {
  margin-top: 7px;
}

.edit-review-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 25px;
  border: 0.3mm solid rgb(200, 200, 200);
  border-radius: 5px;
  width: 200px;
  height: 30px;
  margin-left: 5px;
}

.edit-review-submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.edit-review-submit-button {
  background-color: #ff5a5f;
  font-size: 18px;
  font-weight: 600;
  box-sizing: border-box;
  color: white;
  width: 150px;
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: white;
  border: 1px solid;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}
.delete-review-submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.delete-review-submit-button {
  background-color: #ff5a5f;
  font-size: 18px;
  font-weight: 600;
  box-sizing: border-box;
  color: white;
  width: 150px;
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: white;
  border: 1px solid;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}
