.footer {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 40px;
  bottom: 0;
  z-index: 100;
  box-sizing: border-box;
  border-top: rgb(235,235,235) 2px solid;
  background-color: white;
  justify-content: space-evenly;
  box-shadow: 0px 10px 15px -8px rgb(238, 237, 237);
}
.footer-owner {
    margin-right: 500px;
}

.footer-created-by {
  color: rgb(131, 131, 131);
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.linkedin-icon,
.github-icon {
  font-size: 30px;
  transform: translate(-35%);
  background-color: transparent;
padding-left: 40px;
  margin-top: 10px;
}
