.create-spot-container {
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-spot-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-spot-form {
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  justify-content: center;
}

.create-spot-errors {
  font-size: 13px;
  display: flex;
  margin-right: 50px;
  color: #eb1b0c;
  margin-bottom: 10px;
}

.create-spot-label-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.create-spot-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  padding-bottom: 20px;
  font-size: 16px;
}

.create-spot-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 25px;
  border: 0.3mm solid rgb(200, 200, 200);
  border-radius: 5px;
  width: 200px;
  height: 30px;
  margin-left: 5px;
}

.create-spot-submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.create-spot-submit-button {
  background-color: #ff5a5f;
  font-size: 18px;
  font-weight: 600;
  box-sizing: border-box;
  color: white;
  width: 150px;
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: white;
  border: 1px solid;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.create-spot-submit-button:hover {
  background-color: #d93b30;
}

#description {
    resize: none;
}
