.host-a-spot-button {
    cursor: pointer;
    font-size: 16px;
    background-color: white;
    border: none;
}

.error-list {
    font-size: 13px;

    color: #d93b30;
    margin-bottom: 2px;
}

#form-label-image,
#form-label-description,
#form-label-city,
#form-label-state,
#form-label-price {
    display: flex;
    justify-content: space-between;
}

#create-spot-button,
#cancel-create-button {
    background-color:#faf3f2;
}

.create-spot-container {
    width: 500px;
}

#form-label {
    height: 30px;
    width: 99%;
    display: flex;
    justify-content: center;
    resize: none;
    border-right: none;
    border-left: none;
    border-top: 1px solid rgb(214, 214, 214);
    border-bottom: 1px solid rgb(214, 214, 214);
    -ms-overflow-style: none;
    scrollbar-width: none;
}
