.profile-page-container {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 50px;
}

.profile-page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-listings-container {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(2, 2fr);
  align-content: center;
  margin-left: 300px;
  margin-right: 300px;
}

.profile-links {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-evenly;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.listing-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.no-bookings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-spot-image {
  width: 565px;
  height: 500px;
  border-radius: 15px;
  box-shadow: 10px 10px 15px 5px lightgray;
  margin-bottom: 20px;
}


.profile-spot-address {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-bottom: 10px;
  border-bottom: rgb(235,235,235) 2px solid;

}

.profile-spot-address-info {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.profile-spot-title {
  display: flex;
}

.profile-edit-modal {
display: flex;
margin-top: 17px;
margin-left: 5px;
}

.profile-booking-dates {
  width: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
